NEXT_PUBLIC_SUPABASE_URL=sb_publishable_AhhfoP6lS5-hKnAPyecI8A_xsv2HBCp
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0bXVwZ3Zva2F3cG1zaXZtbHVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MTUzNzEsImV4cCI6MjA4OTE5MTM3MX0.ftA0fX6xvJelC9pOu17bfpB0mgPwAsa-m4ZwZSjKKh8
