@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

main {
  min-height: 100vh;
}

.safe-iphone {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

@keyframes scan {
  0%   { top: 0%; }
  50%  { top: calc(100% - 2px); }
  100% { top: 0%; }
}
.animate-scan {
  position: absolute;
  animation: scan 2s ease-in-out infinite;
}
